# Jetbrains
/*.iml
/.idea
/.idea/.gitignore
/.idea/deployment.xml
/.idea/discord.xml
/.idea/module-perl.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml

# Bearsampp
/.dev

# Visual Studio
.vscode/
.vs/
.vsc/

# Exempt bin since its for temp use only.
/bin/
