# Jetbrains
/*.iml
/.idea

# Bearsampp
/tmp/*
/core/tmp/*
/logs/*

# ignore "current" directories
/**/current
/bin/**/data

# Exempt bin since its for temp use only.
/bin/

# Visual Studio
.vscode/
.vs/
.vsc/

# Qodo
/.qodo
